<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Management </title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <img id ="logo" src = "{% static 'logo.png'%}"/>
        <nav>
        <a class = "nav-link" href = "{% url 'index' %}">HOME</a>
        <a class = "nav-link" href = "">LOGIN</a>
        <a class = "nav-link" href = "">REGISTRATION</a>
        </nav>
    </header>
    <section id = "events">
        {% for event in events %}
            <div class ="event-card">
                <h2 style = "color:rgb(0, 0, 121);" class = "event-title" style="font-family: Poppins; font-size: x-large; font-weight: 300;">{{event.event_title}}</h2>
                <p class = "event-location" style="font-family: Poppins; font-size: x-large; font-weight: 300;">Location: {{event.location}}</p>
                <p class = "event-data" style="font-family: Poppins; font-size: large; font-weight: 300;">{{event.date}}</p>
                <a href = {% url 'eventdetail' pk=event.pk %} class = "details">Details</a>
            </div>
        {% endfor %}
    </section>
    <footer>
        <p>&copy;2023 Event Registration System</p>
    </footer>
</body>
</html>